.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 30px;
    margin-bottom: 50px;
    &__img {
        grid-column: span 4;
        max-width: 450px;
    }
}

