* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-image:url(img/Rectangle\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    &__top {
        padding-top: 20px;
        height: 300px ;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(180deg, #000000 10.42%, rgba(0, 0, 0, 0.09375) 79.69%, rgba(0, 0, 0, 0) 100%);

        &_link {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
        }
    
        &_square {
            display: inline-block;
            height: 78px;
            width: 78px;
            background-color: white;
        }
    
        &_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 37px;
            height: 78px;
            border-top: 1px solid #4F4F4F ;
            border-bottom: 1px solid #4F4F4F ;
        }
    }

    &__content {
        
        &_title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;
            text-align: center;
            color: #DBA833;
            text-align: center;
        }

        &_text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #CECECE;
            text-align: center;
        }
    }

    &__bot {
        background: linear-gradient(180deg, rgba(44, 44, 44, 0) 0%, #2C2C2C 100%);
        height: 200px;
    }


}